<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <configSections>
      <section name="DatabaseFactoryConfiguration" type="Registration.DatabaseFactory.DatabaseFactorySectionHandler, Registration.DatabaseFactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <connectionStrings>
      <clear/>
      <add name="MyConnection1" providerName="MSSQL" connectionString="Data Source = 109PC0047; Initial Catalog = RegistrationWithFolders.DB; Integrated Security = True" />
      <add name="MyConnection2" providerName="MSSQL" connectionString="Data Source = 109PC0047; Initial Catalog = RegistrationWithFolders.DB; Integrated Security = True" />
    </connectionStrings>
    <DatabaseFactoryConfiguration Name="Registration.MSSQL" ConnectionStringName="MyConnection1" />  
</configuration>